<h1 class="page-header text-center">Welcome to Jim Joe's Antique Shop</h1>





<!-- <p class="lead text-center"> To see our present inventory visit our <a href="/antiques">products page.</a> </p> -->

<a href="/antiques" class="btn btn-default" role="button">Add and View Inventory</a>
<a href="/orders/new" class="btn btn-default" role="button">Create a New Order</a>
