<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jim Joe's Antiques</title>
  <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' type="text/css" href="<%= url('/styles.css')%>">
</head>

<body>
  <a href='/reset'>Reset</a>
  <div id="wrap" class="container">
    <%= yield %>
  </div>
</body>

</html>
