<h1 class='page-header text-center'>Find your orders!</h1>
<a href="/">Home</a>

<br>
<form action="/orders/find/results" method="post">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="start_date">Start Date</label>
        <input id="start_date" name="start_date" type="date" placeholder="20150728" class="form-control" autofocus required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="end_date">End Date</label>
        <input id="end_date" name="end_date" type="date" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </div>
</form>
