h1.page-header {
  margin: 0;
  padding: 0;
}

img {
  opacity:0.5;
}

body {
  color: #6F4E27;
  background-image: url("img/deer.jpg");
  background-color: #6F4E27;
  height: 100%;
}

#order,
.lead {
  color: #046380;
  font-weight: bold;
}

.box {
  background-color: #ffffff;
  opacity: 0.6;
  width: 50%;
  
}
